<!DOCTYPE html>
<html>
<head>
    <title>My API Documentation</title>
    <!-- Подключите стили ReDoc -->
    <link
        href="https://cdn.jsdelivr.net/npm/redoc@latest/redoc.min.css"
        rel="stylesheet"
    />
</head>
<body>
    <!-- Вставьте компонент ReDoc с указанием URL к вашей OpenAPI-спецификации -->
    <redoc spec-url='/swagger/'></redoc>
    <!-- Подключите скрипты ReDoc -->
    <script src="https://cdn.jsdelivr.net/npm/redoc@latest/bundles/redoc.standalone.js"></script>
</body>
</html>
